.hero {
   position: relative;
   top: -4.5rem;
   height: 650px;
   width: 100%;
   max-width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #fff;
   background-image: radial-gradient(56.25% 56.25% at 50% 43.75%, rgba(16, 79, 0, 0.42) 11.04%, rgba(119, 255, 97, 0) 60.37%), url('../assets/images/hero.jpeg') ;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center bottom;
   filter: brightness(90%);

   &__container {
       width: 90%;
       max-width: 750px;
       text-align: center;
   }

   &__title {
       display: block;
       font-size: 2.5rem;
       line-height: 1.4;
       margin: auto;
   }

   &__body {
       display: block;
       text-align: center;
       width: 60%;
       font-weight: 400;
       font-size: 1rem;
       line-height: 1.4;
       margin: .3rem auto;
   }

   &__button {
      display: block;
      font-size: 1.25rem;
      background-color: #FF6961;
      color: #fff;
      border-radius: 25px;
      border: none;
      padding: .5em 2em;
      margin: {
          top: 1.35rem;
          left: auto;
          right: auto;
      };
}
}