@import 'vars';

.info {
    text-align: center;
    background: linear-gradient(109.77deg, #E7CEE3 5.92%, #E7CEE3 34.66%, rgba(231, 206, 227, 0.5) 58.17%, rgba(231, 206, 227, 0.2) 83%);    // opacity: 0.5;
    // padding: 2rem;

&__title {
    color: #000;
    padding: 2rem;
    font-size: 2rem;
}

&__container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

&__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 260px;
    padding: 2rem;
    
}

&__img {
    width: 30%;
    min-width: 150px;
    margin: 1rem auto;

    img {
        display: block;
        max-width: calc(100% - 20px);
    }
}

&__text {
    color: $primary;
    font-size: 1.8rem;
    font-weight: 400;

    span {
        display: block;
        font-weight: 700;
    }
}
}

.flag {
    transform: scale(1.4) translate(10px,-15px);
    margin-bottom: 1rem;
}